<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
</head>

<body class="bg-gray-900 text-gray-900 flex items-center justify-center min-h-screen">
    <div class="border-2 bg-[#F0F1F5] rounded-md p-5 w-[80%] md:w-[60%] xl:w-[45%]">
        <div class="flex justify-between pt-2">
            <div class="flex items-center">
                <img src="{{ url_for('static', filename='image/IconRemoverBg.png') }}" alt="Icon" class="w-10">
                <p class="font-bold text-sm ml-2">TodoPlus</p>
            </div>
            <a href="/register" class="underline font-semibold text-sm">Login</a>
        </div>
        <div class="text-center mt-12">
            <p class="font-bold text-lg">Welcome Back</p>
            <p class="text-sm pt-1">Enter Your Account Details</p>
        </div>
        <form class="pt-6" method="POST">
            <div class="mb-3 relative">
                <input type="password" id="passwordInput1"
                    class="password1 mt-1 block w-full px-3 py-2 border border-gray-300 focus:ring-indigo-500 rounded-md shadow-sm focus:outline-none focus:ring-2 sm:text-sm"
                    placeholder="Password" name="password" value="{{ password if password else '' }}">
                {% if error_length == 5 %}
                    <button type="button" id="togglePassword1"
                        class="absolute inset-y-0 right-0 px-4 text-gray-600 focus:outline-none pb-[5rem]">
                        <ion-icon name="eye-outline"></ion-icon>
                    </button>
                {% elif error_length == 3 %}
                    <button type="button" id="togglePassword1"
                        class="absolute inset-y-0 right-0 px-4 text-gray-600 focus:outline-none pb-11">
                        <ion-icon name="eye-outline"></ion-icon>
                    </button>
                {% elif error_length == 2 %}
                    <button type="button" id="togglePassword1"
                        class="absolute inset-y-0 right-0 px-4 text-gray-600 focus:outline-none pb-8">
                        <ion-icon name="eye-outline"></ion-icon>
                    </button>
                {% elif error_length == 1 %}
                    <button type="button" id="togglePassword1"
                        class="absolute inset-y-0 right-0 px-4 text-gray-600 focus:outline-none pb-4">
                        <ion-icon name="eye-outline"></ion-icon>
                    </button>
                {% else %}
                    <button type="button" id="togglePassword1"
                        class="absolute inset-y-0 right-0 px-4 text-gray-600 focus:outline-none pt-1">
                        <ion-icon name="eye-outline"></ion-icon>
                    </button>
                {% endif %}
                {% if errors %}
                    <div class="mb-4 mt-1">
                        <ul class="list-disc pl-5 text-xs text-red-500">
                            {% for err in errors %}
                                <li>{{ err }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
            <button type="submit"
                class="px-4 py-2 bg-gray-900 text-white font-semibold rounded-md shadow-md hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-opacity-50 w-full">
                Reset Password
            </button>
        </form>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const passwordInput1 = document.getElementById('passwordInput1');
            const togglePassword1 = document.getElementById('togglePassword1');

            let showPassword1 = false;

            togglePassword1.addEventListener('click', () => {
                showPassword1 = !showPassword1;
                passwordInput1.type = showPassword1 ? 'text' : 'password';
                togglePassword1.innerHTML = showPassword1 ? '<ion-icon name="eye-off-outline"></ion-icon>' : '<ion-icon name="eye-outline"></ion-icon>';
            });
        });
    </script>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>
